*{
  margin: 0;
  padding: 0;
}

.correcao{
   color: white;
  font-sie: 28px;
}

.de{
   text-stroke: 3px solid white;
  font-size: 20px;
  color: transparent;
}

.solo{
  color: var(--verde-limao);
  font-size: 28px;
}

header{
  background: var(--verde-escuro);
}
